<main role="main" style="padding-top:60px; color: white">
<img src="assets/img/c1.jpg" width="100%" height="500px" >

<h3 style="text-align:center; margin-top:30px; margin-bottom: 5px; font-family: 'Courier New', Courier, monospace;"><i>
    Get work done on time, all the time!
</i>
</h3>
<hr style="background-color:white">
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div style="padding-left:30px; padding-right:30px;text-align:center;">
      <br><br>
    <!-- Three columns of text below the carousel -->
    <div class="row" style="padding-top:30px; padding-bottom:70px;" >
      <div class="col-lg-4" >
        <h2>Plan projects with ease</h2><br>
        <p>Milestones, tasklists, and tasks help you organize complex projects into easily manageable units. Get more refined control with subtasks, recurring tasks, and dependencies.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <h2>Keep track of time</h2><br>
        <p>Everyone working on a project can easily log their billable and non-billable hours using timesheets. The built-in integration with Zoho Invoice automatically generates invoices from timesheets.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <h2>Track and fix issues fast</h2><br>
        <p>Log issues and track them as they get fixed and tested. Define custom workflows and business rules. Track code changes made in GitHub and Bitbucket.</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

  </div>
  <hr style="background-color:beige">

  <!-- START THE FEATURETTES -->
    <div style="text-align:center;">

    <div class="row ">
      <div class="col-md-7"><br><br><br><br>
        <h2 class="featurette-heading">Project Management</h2>
        <p class="lead">RiLPMS Project helps you execute projects with ease. Built-in templates and familiar scheduling tools help project managers and teams stay productive.</p>
      </div>
      <div class="col-md-5"><br>
        <img src="assets/img/c3.jpg" width="100%" height="300px">
      </div>
    </div>
    <br>

    <div class="row"><br>
      <div class="col-md-7 order-md-2"> <br><br><br>
        <h2 class="featurette-heading">Analytics and Reporting </h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5 order-md-1">
          <img src="assets/img/c4.jpg" width="100%" height="300px">
        </div>
    </div>
    <br>

    <div class="row"><br>
      <div class="col-md-7"><br><br><br><br>
        <h2 class="featurette-heading">Resource Management</h2>
        <p class="lead">Gain insight into how resources are used and collaborate, using integrated tools. With simplified task and time management, teams can enter updates from anywhere, which offers greater executive oversight.</p>
      </div>
      <div class="col-md-5">
          <img src="assets/img/c5.jpg" width="100%" height="300px">
        </div>
    </div>
    <br>


    <!-- /END THE FEATURETTES -->
    <hr style="background-color:beige">

  </div><!-- /.container -->
  
  <div class="container" style="padding:0;">
      <div class="row" style="padding:0;">
          <div class="col-md-6" style="float:left;">
              <h2 style="text-align: left; color: white ; font-size: 25px; padding-top: 15px;">
                  ABOUT US:
                </h2><br>                  
                    <h1 style="font-size: 20px;">  Call us:<br> +91 8879539141, +91 8879539131. </h1>    
                    <br>
                    <h3 style="font-size: 20px;">Write to us at  <a href="mailto:splash1519@gmail.com">SPLASH</a>.</h3>
                  <br><br>
                    <h4 style="font-family: helvatica; font-size: 20px;">
                   SOCIAL NETWORK:      <br><br>
                   <a href="#" class="btn-social btn-facebook"><i class="fa fa-facebook"></i></a>
                   <a href="#" class="btn-social btn-google-plus"><i class="fa fa-google-plus"></i></a>
                   <a href="#" class="btn-social btn-instagram"><i class="fa fa-instagram"></i></a>
                   <a href="#" class="btn-social btn-linkedin"><i class="fa fa-linkedin"></i></a>
                  </h4>
            </div> 
            <div class="col-md-6" style="padding-top:40px; padding-bottom: 40px;" >
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15078.484915681029!2d73.00355067069631!3d19.124265566504192!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c0beddab5c77%3A0xd2f7874862ef69dd!2sReliance+Corporate+Park%2C+MIDC+Industrial+Area%2C+Ghansoli%2C+Navi+Mumbai%2C+Maharashtra+400701!5e0!3m2!1sen!2sin!4v1547105805112" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
      </div>
    </div>
  
    <hr style="background-color:beige">

  <!-- FOOTER -->
  <footer class="container">
    <p style="text-align:center;"> &copy; 2019-2020 Reliance, Pvt Ltd. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</main>