<br><br><br>

<div class="container-fluid"><br><br>
    <div class="col-md-12" class="bg-dark" style="color:white; padding: 50px;
    font-family: 'Courier New', Courier, monospace; border-radius: 5px" >
      <div class="row">    
      <div class="col-md-3" style="padding:0px" >
              <img alt="Bootstrap Image Preview" src="/assets/img/templateEmp.png" />
          </div>

          <div class="col-md-9 ">
            
            <h1 style="padding-top:5px;" >{{ retrivedData?.name }}</h1>  <br>
            <h4 style="padding-top:5px;" >Email &nbsp;&nbsp;&nbsp;&nbsp;     : <a href = "mailto:{{ retrivedData.email}}"> {{ retrivedData?.email }} </a></h4>  
            <h4 style="padding-top:5px;" >Position &nbsp;  : {{ retrivedData?.position }}</h4>  
            <h4 style="padding-top:5px;" >Department : {{ retrivedData?.department }}</h4>  
            <h4 style="padding-top:5px;" >Project &nbsp;&nbsp;   : {{ retrivedData?.project }}</h4>  
            <h4 style="padding-top:5px;" >Seat &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      : {{ retrivedData?.seat }}</h4>  
            <h4 style="padding-top:5px;" >Address  &nbsp;&nbsp;  : Ril, Ghansoli, Navi Mumbai, Maharashtra 400701 </h4>  
              
              
              
          </div>
        </div>
      </div>
		</div>