<br><br><br>

<div class="container-fluid"><br><br>
    <div class="col-md-12" class="bg-dark" style="color:white; padding: 50px;
    font-family: 'Courier New', Courier, monospace; border-radius: 5px" >
      <div class="row">    
      <div class="col-md-3" style="padding:0px" >
              <img alt="Bootstrap Image Preview" src="/assets/img/templatePro.png" />
          </div>

          <div class="col-md-9 ">
            
            <h1 style="padding-top:5px;" >{{ retrivedData?.name }}</h1>  <br>
            <h4 style="padding-top:5px;" >Description     : {{ retrivedData?.description }}</h4>  
            <h4 style="padding-top:5px;" >Owner &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  : {{ retrivedData?.owner }}</h4>  
            <h4 style="padding-top:5px;" >Start Date &nbsp;: {{ retrivedData?.startDate }}</h4>  
            <h4 style="padding-top:5px;" >End Date &nbsp;&nbsp;   : {{ retrivedData?.endDate }}</h4>  
            <h4 style="padding-top:5px;" >Manager &nbsp;&nbsp;&nbsp;      : {{ retrivedData?.manager }}</h4>  
            <h4 style="padding-top:5px;" >Address  &nbsp;&nbsp;&nbsp;  : Ril, Ghansoli, Navi Mumbai, Maharashtra 400701 </h4>  
              
              
              
          </div>
        </div>
      </div>
		</div>